<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 320px;">
            <tr>
                <td align="center" bgcolor="#eff3f8">

                    <table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%" style="max-width: 680px; min-width: 300px;">
                        <tr>
                            <td>
                                <!-- padding -->
                                <div style="height: 80px; line-height: 80px; font-size: 10px;"></div>
                            </td>
                        </tr>
                        <!--header -->
                        <tr>
                            <td align="center" bgcolor="#ffffff">
                                <!-- padding -->
                                <div style="height: 30px; line-height: 30px; font-size: 10px;"></div>
                                <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="left">
                                            <!--Item -->
                                            <div class="mob_center_bl" style="float: left; display: inline-block; width: 115px;">
                                                <table class="mob_center" width="115" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
                                                    <tr>
                                                        <td align="left" valign="middle">
                                                            <!-- padding -->
                                                            <div style="height: 20px; line-height: 20px; font-size: 10px;"></div>
                                                            <table width="115" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="left" valign="top" class="mob_center">
                                                                        <a href="#" style="width: 40%; margin:0px auto;"  target="_blank" >
                                                                            <img src="https://img.freepik.com/free-vector/forgot-password-concept-illustration_114360-4652.jpg?w=2000" width="80%" margin="auto" alt="Metronic" border="0" style="display: block;" />
                                                                            </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <!-- padding -->
                                <div style="height: 50px; line-height: 50px; font-size: 10px;"></div>
                            </td>
                        </tr>
                        <!--header END-->

                        <!--content 1 -->
                        <tr>
                            <td align="center" bgcolor="#fbfcfd">
                                <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center">
                                            <!-- padding -->
                                            <div style="height: 60px; line-height: 60px; font-size: 10px;"></div>
                                            <div style="line-height: 44px;">
                                                <font face="Arial, Helvetica, sans-serif" size="5" color="#57697e" style="font-size: 34px;">
					<span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
						Travel RX
					</span></font>
                                            </div>
                                            <!-- padding -->
                                            <div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <div style="line-height: 24px;">
                                                <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 15px;">
					<span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
					{{message}}
					</span></font>
                                            </div>
                                            <!-- padding -->
                                            <div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
                                        </td>
                                    </tr>
                                    
                                </table>
                            </td>
                        </tr>
                        <!--content 1 END-->

                        <!--content 2 -->
                        <tr>
                            <td align="center" bgcolor="#ffffff" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #eff2f4;">
                                <table width="94%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center">
                                            <!-- padding -->
                                            <div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
                                            <font face="Arial, Helvetica, sans-serif" size="3" color="#96a5b5" style="font-size: 13px;">
				<span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;">
					2015 © Travel Rx. ALL Rights Reserved.
				</span></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!-- padding -->
                                            <div style="height: 20px; line-height: 80px; font-size: 10px;"></div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                </td>
            </tr>
        </table>
</body>
</html>